---
import Layout from '@/layouts/Layout.astro';

//Components
import About from '@/components/About.astro';
import Education from '@/components/Education.astro';
import Experience from '@/components/Experience.astro';
import Hero from '@/components/Hero.astro';
import Projects from '@/components/Projects.astro';
import Skills from '@/components/Skills.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
---

<Layout title="Minimalist Portfolio">
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>
	<KeyboardManager />
</Layout>

<style>
	
</style>
